<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/3rdPart/d3.js"></script>
    <script src="/js/3rdPart/jquery-3.5.0.min.js"></script>

</head>
<body>
    <h3>binary tree</h3>
    <div>
        <input id="input" type="text" placeholder="英文逗号分隔">
        <button id="select">BST Create</button>
    </div>
    <svg></svg>

    <script src="/js/btree.js"></script>
</body>
</html>