<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/3rdPart/d3.js"></script>
    <script src="/js/3rdPart/jquery-3.5.0.min.js"></script>
    <style>
        div{
            margin-bottom: 5px;
            /*color: #999;*/
        }
        #alg-sel{
            float: right;
        }
    </style>
</head>
<body>
    <div id="alg-sel">
        <a href="http://localhost:8080/sort"> Sort</a>
        <a href="http://localhost:8080/btree"> Tree</a>
        <a href="http://localhost:8080/graph"> Graph</a>
    </div>
    <h3>Graph Search</h3>
    <div id="set">
        <label>测试用例：</label>
        <input id="input" type="text"
               value="[[0,0,0,0,0],[0,1,0,1,0],[0,1,1,0,0],[0,1,1,0,1],[0,0,1,0,0]]" size="60">
        <button id="create">创建</button>
        <button id="bfs">BFS</button>
        <button id="dfs">DFS</button>
        <button id="search">查找(row, col)</button>
        <input id="numX" type="number" min="1" max="99">
        <input id="numY" type="number" min="1" max="99">
    </div>
    <div id="control">
        <button id="preFrame"> <- </button>
        <button id="pause"> 暂停 </button>
        <button id="play"> 继续 </button>
        <button id="nextFrame"> -> </button>
        <button id="clearing"> 复原 </button>
        <label id="">速度：×</label>
        <button id="speed2">0.5</button>
        <button id="speed3">1</button>
        <button id="speed4">2</button>
        <button id="speed5">4</button>
    </div>
    <svg></svg>
    

    <script src="/js/common.js"></script>
    <script src="/js/graph.js"></script>
</body>
</html>