<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/3rdPart/d3.js"></script>
    <script src="/js/3rdPart/jquery-3.5.0.min.js"></script>
    <style>
        div{
            margin-bottom: 5px;
        }
    </style>
</head>
<body>
    <h3>Sort Alg</h3>
    <div id="set">
        <label>测试用例：</label>
        <input id="input" type="text" value="2,10,6,4,5" size="30">
        <button id="create">创建数组</button>
        <button id="select">选择排序</button>
    </div>
    <div id="control">
        <button id="preFrame"> <- </button>
        <button id="pause"> 暂停 </button>
        <button id="play"> 继续 </button>
        <button id="nextFrame"> -> </button>
        <button id="clearing"> 复原 </button>
        <label id="">速度：×</label>
        <button id="speed2">0.5</button>
        <button id="speed3">1</button>
        <button id="speed4">2</button>
    </div>
    <svg></svg>

    <script src="/js/common.js"></script>
    <script src="/js/sort.js"></script>
</body>
</html>